<!DOCTYPE html>

<html>
    <head>
         <!-- Root stylesheet (NOT WORKING; USING INTERNAL) -->
         <link rel="stylesheet" type="text/css" href="/static/css/base.css">
         <!-- Footer stylesheet (NOT WORKING; USING INTERNAL) -->
        <link rel="stylesheet" type="text/css" href="/static/css/footer.css"> 
    </head>
    <body>
        <h1></h1>
    </body>
<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->
<footer id="cs-footer-108">
    <div class="cs-container">
        <ul class="cs-ul">
            <li class="cs-li">
                <a href="" class="cs-link">Home</a>
            </li>
            <li class="cs-li">
                <a href="aboutme.html" class="cs-link">About</a>
            </li>
            <li class="cs-li">
                <a href="contact.html" class="cs-link">Contact</a>
            </li>
        </ul>
        <span title="© 2024 ConnorHV. All Rights Reserved" class="cs-copyright">
    © 2024
        </span>

    </div>
</footer>
</html>

