<!doctype html>

<html lang="en-US">
    <head>
        <title>ConnorHV - Home</title>
        <meta charset="utf-8" />
        <meta content="ConnorHV" name="author">
        <meta content="#2DB3E3" name="theme-color">
        <meta content name="description">
        <meta content="Hey I'm ConnorHV, Welcome to my website!" property="og:description">
        <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

        <!--Google Fonts-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Black+Ops+One&family=Caveat:wght@400..700&family=Orbitron:wght@400..900&family=Sedgwick+Ave+Display&family=Shadows+Into+Light&display=swap" rel="stylesheet">

        <!-- Root stylesheet-->
        <link rel="stylesheet" type="text/css" href="/static/css/base.css">

        <!-- Footer stylesheet-->
        <link rel="stylesheet" type="text/css" href="/static/css/footer.css">
    </head>


    <!-- START OF BODY -->
    <body>
        <nav class="navbar">
            <div class="navdiv">
                <div class="logo"><a href=""></a>ConnorHV</a></div>
            </div>
        </nav>
            
        
<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->
    <footer id="cs-footer-108">
        <div class="cs-container">
            <ul class="cs-ul">
                <li class="cs-li">
                    <a href="" class="cs-link">Home</a>
                </li>
                <li class="cs-li">
                    <a href="aboutme.html" class="cs-link">About</a>
                </li>
                <li class="cs-li">
                    <a href="contact.html" class="cs-link">Contact</a>
                </li>
            </ul>
            <span title="© 2024 ConnorHV. All Rights Reserved" class="cs-copyright">
        © 2024
            </span>
        </div>
    </footer>
    
    </body>
</html>